In [ ]:
#Question 1A
marks = {'Andy':88, 'Amy':66, 'James':90, 'Jules':55, 'Arthur':77}

def grade(name):
  if name in marks.keys():
    i = marks[name]
    print(i)
  if name not in marks.keys():
    print('cannot find', name)

grade('Andy')

88

In [ ]:
#Question 1B
def avg(marks):
  return sum(marks.values()) / len(marks.values())

average = avg(marks)

print(average)

75.2

In [ ]:
#Question 2
def printout(num):
  n = 0
  while n < num:
    print(n, n ** 2)
    n += 1
  else:
    print("greater than", num)

printout(8)

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
greater than 8

In [ ]:
#Question 3
def sumfunction(num):
  n = 1
  sum = 0
  while n <= num:
    sum = sum + n
    n = n + 1
  print(sum)

sumfunction(8)

36

In [ ]:
#Question 4
def sumfunction(num):
  n = 1
  sum = 0
  while n <= num:
    sum = sum + n
    print(sum)
    n = n + 1

sumfunction(8)

1
3
6
10
15
21
28
36

In [ ]:
#Question 5
import statistics
v = range(1,100)

print(statistics.mean(v))
print(sum(v))
print(statistics.stdev(v))

50
4950
28.722813232690143

In [ ]:
#Question 6
def minimal(v1, v2, v3, v4):

  min_value = v1
  if v2 < min_value:
    min_value = v2
  if v3 < min_value:
    min_value = v3
  if v4 < min_value:
    min_value = v4
  return min_value

minimal(14, 68, 72, 32)

14

In [ ]:
#Question 7
def concatenates(string1, string2, string3):
  i = string1 + string2 + string3
  return i

concatenates('or', 'ang', 'e')

'orange'